@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Tektur:wght@600&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1f47;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Nav Bar */

  .closed-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    background-color: #454853;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    border-bottom-color: #c9bdbd;
    border-width: 5rem;
  }
  
  .Brand-Name {
    display: flex;  
  }
  
  /*Websight Title*/
  
  .Brand-Name {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: .5rem;
    background-color: #c9bdbd;
    
    
    margin-left: 3rem;
    font-family: 'Tektur';
    font-size: 1.75rem
  }
  
  .U {
    color: #F10F01;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    
    .S {
      padding-left: .5rem;
      color: #ffffff;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .Shopper {
      /* padding-right: 75rem; */
      padding-left: 1.5rem;
      font-style: italic;
      color: #0930ad;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    /* Shopping Cart Button */
    .Check-Out-Button {
      display: flex;
      align-items: center;
      justify-content: center;
      
      margin-right: 10rem;
      
      border-radius: 1rem;
      
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      
      background-color: #c9bdbd; 
        border-color: #1c1f47;
        font-family: 'Agdasima';
        font-size: 1.5rem
      }
      
      .Check-Out-Button .icon {
        color: #1c1f47;
        justify-content: center;
        padding-right: .5rem;
        font-size: 1.55rem;
      }
      
      .Check-Out-Button .text {
        color: #1c1f47;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: .125rem;
      }
      /* Moble view */
      @media only screen and (min-width: 375px) {
      
      /* Shopping Car Window */
      
      .Modal-Window {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 2.25rem;
      }
      
      .Modal-Window {
        display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
        
        
        
        border-width: 5px;
        border-radius: .5px;
      }
      
      .Modal-Window .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:#c9bdbd ;
        
        padding-top: .5rem;
        padding-bottom: .5rem;
        
        border-radius: .25rem;
      }
      
      .Shopping-Cart-Title {
        font-weight: bold;
      font-size: large; 
      padding-left: 1rem;
    }
    
    .Close-Modal {
      margin-left: 12rem;
      margin-bottom: 1rem;
      
      border-radius: .25rem;
      border-width: 2px;
      border-color: #1c1f47;
      
      justify-content: right;
      
      font-weight: bold;
      color: #f33f33;
      background-color: transparent;
    }
    
    .Modal-Window .body {
      display: flex;
      justify-content: left;
      background-color:#c9bdbd ;
    }
  }
  
/* Laptop View */
@media only screen and (min-width: 1025px) {

  /* Shopping Car Window */
      
      .Modal-Window {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 2.25rem;
      }
      
      .Modal-Window {
      display: flex;
      margin-left: 10rem;
      margin-right: 10rem;
      
      
      
      border-width: 5px;
      border-radius: .5px;
    }
    
    .Modal-Window .Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color:#c9bdbd ;

      padding-top: .5rem;
      padding-bottom: .5rem;
      
      border-radius: .25rem;
    }
    
    .Shopping-Cart-Title {
      font-weight: bold;
      font-size: large; 
      padding-left: 1rem;
    }
    
    .Close-Modal {
      margin-left: 30rem;
      margin-bottom: 1rem;
      
      border-radius: .25rem;
      border-width: 2px;
      border-color: #1c1f47;
      
      justify-content: right;
      
      font-weight: bold;
      color: #f33f33;
      background-color: transparent;
    }
    
    .Modal-Window .body {
      display: flex;
      justify-content: left;
      background-color:#c9bdbd ;
    }
}

  /* Desktop View */
  @media only screen and (min-width: 1280px) {

    /* Shopping Car Window */
        
        .Modal-Window {
          display: flex;
          align-items: center;
          justify-content: center;
          
          margin-top: 2.25rem;
        }
        
        .Modal-Window {
        display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
        
        
        
        border-width: 5px;
        border-radius: .5px;
      }
      
      .Modal-Window .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:#c9bdbd ;
  
        padding-top: .5rem;
        padding-bottom: .5rem;
        
        border-radius: .25rem;
      }
      
      .Shopping-Cart-Title {
        font-weight: bold;
        font-size: large; 
        padding-left: 1rem;
      }
      
      .Close-Modal {
        margin-left: 46rem;
        margin-bottom: 1rem;
        
        border-radius: .25rem;
        border-width: 2px;
        border-color: #1c1f47;
        
        justify-content: right;
        
        font-weight: bold;
        color: #f33f33;
        background-color: transparent;
      }
      
      .Modal-Window .body {
        display: flex;
        justify-content: left;
        background-color:#c9bdbd ;
      }
  }

  @media only screen and (min-width: 1440px) {

    /* Shopping Car Window */
        
        .Modal-Window {
          display: flex;
          align-items: center;
          justify-content: center;
          
          margin-top: 2.25rem;
        }
        
        .Modal-Window {
        display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
        
        
        
        border-width: 5px;
        border-radius: .5px;
      }
      
      .Modal-Window .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:#c9bdbd ;
  
        padding-top: .5rem;
        padding-bottom: .5rem;
        
        border-radius: .25rem;
      }
      
      .Shopping-Cart-Title {
        font-weight: bold;
        font-size: large; 
        padding-left: 1rem;
      }
      
      .Close-Modal {
        margin-left: 56rem;
        margin-bottom: 1rem;
        
        border-radius: .25rem;
        border-width: 2px;
        border-color: #1c1f47;
        
        justify-content: right;
        
        font-weight: bold;
        color: #f33f33;
        background-color: transparent;
      }
      
      .Modal-Window .body {
        display: flex;
        justify-content: left;
        background-color:#c9bdbd ;
      }
  }